{% extends "layout.html" %}

{% block content %}
<!-- どの内容でソートするかを決める記述 -->
<div class="row">
	<div class="col-md-6 offset-md-2">
		<form method="post" action="/" class="form row">
			<div class="form-group col">
				<select name="q" class="form-control my-4">
					<option value="" {% if q=="" %} selected {% end %}>並び順を選択</option>
					<option value="priority_order" {% if q=="priority_order" %} selected {% end %}>優先度順</option>
					<option value="deadline_order" {% if q=="deadline_order" %} selected {% end %}>しめきり</option>
					<option value="sum" {% if q=="sum" %} selected {% end %}>優先度＆しめきり</option>
				</select>
			</div>
			<div class="form-group col">
				<input type="submit" value="並び替える" class="btn btn-success my-4">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>すべきこと</th>
					<th>優先度</th>
					<th>しめきり</th>
					<th>総合値</th>
					<th>削除</th>
					<th>編集</th>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
					<tr>
						<td>{{ task["task"] }}</td>
						<td>{{ task["priority_order"] }}</td>
						<td>{{ task["deadline"] }}</td>
						<td>{{ task["sum"] }}</td>
						<td>
							<form action="/delete_task" method="post" style="display: inline;">
								<input type="hidden" name="task_id" value="{{ task['_id'] }}">
								<input type="submit" value="削除" class="btn btn-danger">
							</form>
						</td>
						<td>
							<form action="/edit_task" method="get">
								<input type="hidden" name="task_id" value="{{ task['_id'] }}">
								<input type="submit" value="編集">
							</form>
						</td>
					</tr>
				{% end %}
			</tbody>
			<form action="/post_task" method="post">
				<label for="">すべきこと：</label>
				<input type="text" id="task" name="task">
				<br>

				<label for="priority_order">優先度(3=高い)：</label>
				<select name="priority_order" id="priority_order">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
				<!-- <input type="text" id="priority_order" name="priority_order"> -->
				<br>

				<label for="">しめきり：</label>
				<!-- <input type="text" id="deadline" name="deadline"> -->
				<select name="deadline" id="deadline">
					<!-- valueは重要度を私的に決めたもの。1日後のタスクは重要度高いので7点としている -->
					<option value="7">1日後</option>
					<option value="5">3日以内</option>
					<option value="4">1週間以内</option>
					<option value="2">半月以内</option>
					<option value="1">1ヶ月以内</option>
				</select>
				<br>
				
				<button>登録</button>
				<br>
			</form>
		</table>
    </div>
</div>
{% end %}